<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<errorHandler class="org.jboss.logging.util.OnlyOnceErrorHandler"/>
		<param name="Target" value="System.out"/>
		<param name="Threshold" value="INFO"/>

	<layout class="org.apache.log4j.PatternLayout">
		<!-- The default pattern: Date Priority [Category] Message\n -->
		<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
	</layout>
	</appender>

	<!-- DebugAppenders -->
	<appender name="debugAppender" class="org.apache.log4j.CompositeRollingFileAppender">
		<param name="File" value="C:/workspace/toukei_debug.log" />
		<param name="Append" value="true" />
		<param name="DataPattern" value="yyyyMMdd" />
		<param name="Encoding" value="Shift-JIS" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss.SSS} %X{HOST_NAME} I %p %X{SERVICE_NAME} %m _ _ _ _ _ %X{REQUEST_ID} %X{SESSION_ID} _ %c %M%n" />
		</layout>
	</appender>

	<!-- Application Loggers -->
	<logger name="nakayama.tech.com">
		<level value="debug" />
		<appender-ref ref="debugAppender" />
	</logger>

	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>

	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!-- Root Logger -->
	<root>
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>
